/* modificacion de estilos de bootstrap */

/* inicio  fondos */
body {
    background-image: url(../images/fondo-app-L-qWeW4B.jpeg);
}

.container {
    background-color: rgba(255, 255, 255, 0.719);
}



/* fin fondos */
/* añadir */
.añadir {
    margin-top: 20px;
}

/* fin añadir */

/* inicio busqueda */
.buscar {
    margin-top: 10px;
    margin-bottom: 20px;
}

/* fin busqueda */

/* inicio tareas */
.card {
    margin: 4px auto;

}

.card-body {
    display: flex;
    justify-content: space-between;
}

.urgente {
    background-color: rgba(249, 117, 117, 0.649)
}

.diaria {
    background-color: #7af5d0bc;
}

.mensual {
    background-color: #bf9cf6c5;
}

/* fin tareas */


/*  */


/* inicio media */
@media(min-width:1004px) {
    .uno {
        width: 40%;
    }

    .dos {
        width: 20%
    }
}